# Jetbrains Developing Environment
.idea/*

# VSCode
.vscode/*

# Mac 下 Finder 自动生成文件
.DS_Store


# fusebox
.fusebox

# dist
dist/*

# dependencies
node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*
